body{
	background: url("../images/backgroundgradient.png");
	font: 100%/1.5 "Helvetica Neue", arial, sans-serif;
	max-width: 960px;
	margin: 0 auto;
	width: 900px;
}

wrapper{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background: white;
}

h1, h2{
	text-align: center;
	font-family: Underdog, helvetica, sans-serif;
	color: #00ff00;
	margin: 0 auto; 
}

h1{
	text-align: center;
	text-shadow: .125em .125em .125em #00ff00;
	color: white;
}

header{
	background: black;
	border: 2px solid white;
	width: 100%; 
	margin: 0 auto;
}

p{
	font: normal 1.1875em arial, helvetica, sans-serif;
	color: black; 
}

section{
	-moz-column-count: 3;
	background: white;
	width: 100%;
	margin: 0 auto;
	padding: 2px;
}

#titlestatement{
	text-align: center;
	color: white;
}

ul{
	width: 400px;
	margin: 0 auto;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}

nav{
	background: black;
	border-top: 2px solid white;
	border-left: 2px solid white;
	border-right: 2px solid white;
	width: 100%;
	margin: 0 auto;
}

.navlist{
	width: 100px;
	float: left;
}

.navanchors{
	text-decoration: none;
	background: blue;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: white;
}

.navanchors:hover{
	color: white;
	background: black; 
}

.navanchors:visited{
	color: grey
}

a{
	text-decoration: none;
	color: white;
}

a:visited{
	color: grey;
}

a:hover{
	color: black;
}

aside{
	background: white;
	text-align: center;
	width: 100.444444%;
	margin: 0 auto;
}

.imageanchors{
	background: blue;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;	
}

.imageanchors:hover{
	color: white;
	background: black;
}

.imageanchors:visited{
	color: grey;
}	

li{
	width: 100px;
	float: left;
}

article{
	background: white;
	width: 100.444444%;
	margin: 0 auto;
	text-align: center;
}

footer{
	background: white;
	width: 100.444444%;
}