body{
	background: url("../images/backgroundgradient.png");
	font: 100%/1.5 "Helvetica Neue", arial, sans-serif;
	max-width: 900px;
	margin: 0 auto;
	border: 2px solid white;
	
}

#earth{
	background: black;
	width: 100%;
}

#earth img{
	max-width: 100%;
}

#wrapper{
	background: silver;
	width: 100%;
}

.button{
	color: red;
}

h1, h2{
	text-align: center;
	font-family: Underdog, helvetica, sans-serif;
	color: #00ff00;
	margin: 0 auto; 
}

h1{
	text-align: center;
	text-shadow: .125em .125em .125em #00ff00;
	color: white;
}

header{
	background: black;
	width: 100%; 
	margin: 0 auto;
}

p{
	font: normal 1.1875em arial, helvetica, sans-serif;
	color: black; 
}

section{
	-moz-column-count: 3;
	background: white;
	width: 100%;
	margin: 0 auto;
}

#titlestatement{
	text-align: center;
	color: white;
}

ul{
	width: 400px;
	margin: 0 auto;
	list-style-type: none; 
	padding: 0;
	overflow: hidden;
	background: grey;
}

nav{
	background: black;
	width: 100%;
	margin: 0 auto;
}

.navanchors{ 
	width: 25%;
	float: left;
	text-decoration: none;
	background: blue;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: black;
}

.navanchors:hover{
	color: black;
	background: white; 
}

.navanchors:visited{
	color: grey
}

a{
	text-decoration: none;
	color: black;
}

a:visited{
	color: grey;
}

a:hover{
	color: black;
}

table{
	border-collapse: collapse;
	background: white;
	border: 1px solid black;
	width: 100%;
}

td{
	border: 1px solid black;
	padding: 0.3em;
}

th{
	text-align: left;
	background-color: silver;
	color: white;
	padding: 0.3em;
}

aside{
	background: white;
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

.imageanchors{
	float: left;
	width: 25%;
	text-decoration: none;
	height: 100px;
	line-height: 30px;
}

.imageanchors:hover{
	color: white;
	background: black;
}

.imageanchors:visited{
	color: grey;
}	

article{
	background: white;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

footer{
	background: white;
	width: 100%;
} 

/*-------------------------------meida-queries------------------------*/

	@media screen and (min-width: 768px) and (max-width: 959px) {
		#wrapper{background-color: #509cff;}
}

	@media screen and (min-width: 480px) and (max-width: 767px) {
		#wrapper{background-color: #ff7743;}
		section{
		-moz-column-count: 2;
		}
}

	@media only screen and (max-width: 479px) {
		#wrapper{background-color: blue;}
		li{float: none;
		margin: 0 auto;
		}
		body{background: none;
		}
		section{
		-moz-column-count: 1;
		}
		#earth{
		display: none;
		}
}













